body {
  background:white;
  font-family: Verdana;
  max-width: 900px;
  margin: auto;
}

.post {
  background: white;
  padding: 15px;
  /* border: 3px solid black; */
  margin: 15px;
  /* border-radius: 3px; */   
}

#title, .subtitle, .post_title {
  color:rgb(139, 139, 139);
}
/* Titulo do post */
.post_title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 15px;
}

.post_content {
  margin: 0;
  margin-bottom: 15px;
  /* justificando texto */ 
  text-align: justify;
  
}

.post_img {
  margin-bottom: 15px;
  width: 100%;
  opacity: 80%;
}

a {
  color:rgb(22, 93, 187)
}

.contacts-list {
  list-style-type: none;
    /* padding-left: 15px;*/ 
}

.contacts-list li a {
  color: rgb(22, 93, 187);
  text-decoration: none;
}

.header {
  display:flex;
}

.top_img {
  margin-top: 15px;
}
/*
#title {
  margin-left: 100px;
}
*/
/*
css é incremental, portanto posso fzer:
border
border-top
border-top-width 
e especificar ainda mais minha configuração de:
tamanho
cor
estilo

font-family 
web safe fonts: 
    verdana
    arial
text decoration 
text transform   
font 

list-style-type
imagens, simbolos, index

width
height
max 

margin 
text align

*/